Repository kindfi-org/kindfi, pull requests merged in 2025-07, with the labels that each got.

#579 [FIX]: Make`reputation` contract compile
  apps/contract/contracts/reputation/src/errors.rs
  apps/contract/contracts/reputation/src/lib.rs
  apps/contract/contracts/reputation/src/storage.rs
  apps/contract/contracts/reputation/src/test.rs
  apps/contract/contracts/reputation/src/types.rs
  apps/contract/contracts/reputation/test_snapshots/test/test_add_admin.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_admin_can_set_tier_threshold.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_calculate_tier_from_score.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_get_score_nonexistent_user.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_get_streak_nonexistent_user.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_get_tier_nonexistent_user.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_initialize.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_initialize_already_initialized.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_invalid_tier_threshold_setting.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_non_admin_cannot_set_tier_threshold.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_unauthorized_add_admin.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_unauthorized_update_nft_contract.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_unauthorized_update_score.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_update_nft_contract.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_update_score.1.json
Labels: feature, contract, chore

#580 Fix: upgrade expo sdk and dependencies for mobile app
  apps/contract/contracts/reputation/test_snapshots/test/test_add_admin.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_admin_can_set_tier_threshold.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_calculate_tier_from_score.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_get_score_nonexistent_user.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_get_streak_nonexistent_user.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_get_tier_nonexistent_user.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_initialize.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_initialize_already_initialized.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_invalid_tier_threshold_setting.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_non_admin_cannot_set_tier_threshold.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_unauthorized_add_admin.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_unauthorized_update_nft_contract.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_unauthorized_update_score.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_update_nft_contract.1.json
  apps/contract/contracts/reputation/test_snapshots/test/test_update_score.1.json
  apps/mobile/mobile-app/app.json
  apps/mobile/mobile-app/app/index.tsx
  apps/mobile/mobile-app/bun.lock
  apps/mobile/mobile-app/metro.config.js
  apps/mobile/mobile-app/package.json
  bun.lock
  package.json
  services/supabase/src/database.schemas.ts
  services/supabase/src/database.types.ts
Labels: enhancement, chore, mobile-app

#584 Feat/fix nft contract
  apps/contract/Cargo.lock
  apps/contract/Cargo.toml
  apps/contract/contracts/nft/Cargo.toml
  apps/contract/contracts/nft/src/access.rs
  apps/contract/contracts/nft/src/distribution.rs
  apps/contract/contracts/nft/src/errors.rs
  apps/contract/contracts/nft/src/events.rs
  apps/contract/contracts/nft/src/lib.rs
  apps/contract/contracts/nft/src/pausable.rs
  apps/contract/contracts/nft/src/rate_limiting.rs
  services/supabase/src/database.types.ts
Labels: enhancement, contract

#582 Enhance mobile onboarding section with parallax effects and scroll snap animations
  apps/mobile/mobile-app/app/index.tsx
  apps/mobile/mobile-app/components/onboarding/onboarding-section.tsx
  apps/mobile/mobile-app/components/onboarding/onboarding-toggle.tsx
  apps/mobile/mobile-app/components/onboarding/step-card.tsx
  services/supabase/src/database.types.ts
Labels: enhancement, feature, frontend, accessibility, mobile-app

#585 Update Content-Security-Policy connect-src origins in Next.js config
  apps/web/next.config.ts
Labels: webapp
