Repository kindfi-org/kindfi, pull requests merged in 2025-05, with the labels that each got.

#499 [ App ] Build KindFi Mission Block (Final CTA)
  apps/mobile/mobile-app/app/home-screen.tsx
  apps/mobile/mobile-app/components/mission/mission-block.tsx
Labels: feature, frontend, mobile-app

#495 impr: Improve Learning Paths components: accessibility, typing, error…
  apps/academy-wep/components/__tests__/LearningPathCard.test.tsx
  apps/academy-wep/components/__tests__/LearningPaths.test.tsx
  apps/academy-wep/components/__tests__/setupTests.ts
  apps/academy-wep/components/learningpaths/LearningPathCard.tsx
  apps/academy-wep/components/learningpaths/LearningPaths.tsx
  apps/academy-wep/components/learningpaths/error-fallback.tsx
  apps/academy-wep/components/learningpaths/loading-card.tsx
  apps/academy-wep/lib/utils/learning-paths-utils.ts
  apps/academy-wep/package.json
  apps/kyc-server/public/client-m7pwck9zpft.js
  apps/kyc-server/public/manifest.json
  bun.lock
  package.json
Labels: enhancement, feature, webapp, frontend, academy

#498 feat: implement escrow dispute system with mediation flow
  apps/web/app/api/escrow/dispute/assign/route.ts
  apps/web/app/api/escrow/dispute/resolve/route.ts
  apps/web/app/api/escrow/dispute/route.ts
  apps/web/app/api/escrow/dispute/sign/route.ts
  apps/web/app/api/escrow/review/route.ts
  apps/web/components/sections/project/update/update-tab-section.tsx
  apps/web/lib/stellar/utils/get-endpoint.ts
  apps/web/lib/types/escrow/escrow-endpoint.types.ts
  apps/web/lib/types/escrow/escrow-payload.types.ts
  apps/web/lib/types/escrow/escrow-reviews.types.ts
  apps/web/lib/types/escrow/escrow.types.ts
  apps/web/lib/validators/dispute.ts
  apps/web/lib/validators/escrow.ts
  bun.lock
  services/supabase/config.toml
  services/supabase/migrations/20250303172116_add_escrow_milestones_table_and_others.sql
  services/supabase/migrations/20250309000000_extend_comments_for_qa.sql
  services/supabase/migrations/20250502085512_create_escrow_reviews_table.sql
  services/supabase/package.json
  services/supabase/src/database.schemas.ts
  services/supabase/src/database.types.ts
Labels: enhancement, difficulty: hard, feature, webapp, supabase, TL, backend

#497 [Mobile] Implement Submit Project Form (Multi-Step Wizard)
  apps/mobile-app/.expo/README.md
  apps/mobile-app/.expo/devices.json
  apps/mobile-app/.expo/settings.json
  apps/mobile-app/.expo/types/router.d.ts
  apps/mobile-app/expo-env.d.ts
  apps/mobile/mobile-app/app.json
  apps/mobile/mobile-app/app/submit-project/index.tsx
  apps/mobile/mobile-app/app/submit-project/step-1-details.tsx
  apps/mobile/mobile-app/app/submit-project/step-2-funding.tsx
  apps/mobile/mobile-app/app/submit-project/step-3-summary.tsx
  apps/mobile/mobile-app/assets/images/arts.svg
  apps/mobile/mobile-app/assets/images/education.svg
  apps/mobile/mobile-app/assets/images/healthcare.svg
  apps/mobile/mobile-app/assets/images/leaf.svg
  apps/mobile/mobile-app/assets/images/people.svg
  apps/mobile/mobile-app/assets/images/technology.svg
  apps/mobile/mobile-app/bun.lock
  apps/mobile/mobile-app/components/forms/category-select.tsx
  apps/mobile/mobile-app/components/forms/cureency-dropdown.tsx
  apps/mobile/mobile-app/components/forms/input-field.tsx
  apps/mobile/mobile-app/components/forms/step-header.tsx
  apps/mobile/mobile-app/components/forms/step-navigation.tsx
  apps/mobile/mobile-app/components/forms/upload-image.tsx
  apps/mobile/mobile-app/metro.config.js
  apps/mobile/mobile-app/package-lock.json
  apps/mobile/mobile-app/package.json
  services/supabase/src/database.types.ts
Labels: feature, frontend, ODHack13, mobile-app

#503 feat: create review_comments table for project miestone reviews
  apps/web/app/api/escrow/review/route.ts
  apps/web/lib/types/database.types.ts
  apps/web/supabase/migrations/20250503_create_review_comments_table.sql
Labels: feature, webapp, supabase, chore, backend

#504 feat: built Q&A section logic with server first actions
  apps/web/app/api/escrow/review/route.ts
  apps/web/components/pages/project/project-information/project-details.tsx
  apps/web/components/shared/qa-client.tsx
  apps/web/components/shared/qa-server.tsx
  apps/web/lib/types/database.types.ts
  apps/web/lib/types/escrow/escrow-payload.types.ts
  apps/web/lib/types/qa/index.ts
  apps/web/lib/types/qa/types.ts
  apps/web/middleware.ts
  apps/web/package.json
  bun.lock
  services/supabase/src/database.types.ts
  services/supabase/types/database.types.ts
Labels: enhancement, feature, webapp, supabase, TL

#512 feat: add academy progress tracker contract
  apps/contract/Cargo.lock
  apps/contract/Cargo.toml
  apps/contract/contracts/academy-progress-tracker/Cargo.toml
  apps/contract/contracts/academy-progress-tracker/README.md
  apps/contract/contracts/academy-progress-tracker/src/errors.rs
  apps/contract/contracts/academy-progress-tracker/src/events.rs
  apps/contract/contracts/academy-progress-tracker/src/lib.rs
  apps/contract/contracts/academy-progress-tracker/src/test.rs
  apps/contract/contracts/academy-progress-tracker/src/testutils.rs
Labels: feature, contract, chore

#517 [Mobile] feat: Implement Project Detail Screen
  apps/mobile/mobile-app/app/project/[id].tsx
  apps/mobile/mobile-app/app/project/index.tsx
  apps/mobile/mobile-app/components/project-details/funding-panel.tsx
  apps/mobile/mobile-app/components/project-details/gallery.tsx
  apps/mobile/mobile-app/components/project-details/header.tsx
  apps/mobile/mobile-app/components/project-details/related-projects.tsx
  apps/mobile/mobile-app/components/project-details/share-panel.tsx
  apps/mobile/mobile-app/components/project-details/sticky-cta.tsx
  apps/mobile/mobile-app/components/project-details/tab-content/details.tsx
  apps/mobile/mobile-app/components/project-details/tab-content/overview.tsx
  apps/mobile/mobile-app/components/project-details/tab-content/qna.tsx
  apps/mobile/mobile-app/components/project-details/tab-content/team.tsx
  apps/mobile/mobile-app/components/project-details/tab-content/updates.tsx
  apps/mobile/mobile-app/components/project-details/tab-nav.tsx
  apps/mobile/mobile-app/components/project-details/tags.tsx
Labels: feature, frontend, mobile-app

#518 feat(kyc-server): implement real-time KYC status updates via WebSocket
  apps/kyc-server/docs/WEBSOCKET.md
  apps/kyc-server/package.json
  apps/kyc-server/public/manifest.json
  apps/kyc-server/src/components/KYCStatus.tsx
  apps/kyc-server/src/hooks/use-kyc-ws.ts
  apps/kyc-server/src/index.tsx
  apps/kyc-server/src/libs/db.ts
  apps/kyc-server/src/libs/websocket.ts
  apps/kyc-server/src/schema/kyc.ts
  apps/kyc-server/src/utils/cn.ts
  bun.lock
  services/supabase/migrations/20250509000000_create_kyc_reviews_table.sql
  services/supabase/src/database.schemas.ts
  services/supabase/src/database.types.ts
Labels: enhancement, difficulty: hard, feature, webapp, backend
