Repository kindfi-org/kindfi, pull requests merged in 2025-06, with the labels that each got.

#544 feat: add progress bar for in-progress achievements
  apps/web/components/sections/achievements/achievement-card.tsx
  apps/web/components/sections/achievements/achievement-grid.tsx
  apps/web/lib/mock-data/section.ts
  apps/web/lib/types/section.types.ts
Labels: enhancement, feature, webapp, frontend, academy

#541 refactor/ set chapter lesson
  apps/contract/contracts/academy-progress-tracker/src/events.rs
  apps/contract/contracts/academy-progress-tracker/src/lib.rs
  apps/contract/contracts/academy-progress-tracker/src/test.rs
  apps/contract/contracts/academy-progress-tracker/src/testutils.rs
  apps/contract/contracts/academy-progress-tracker/test_snapshots/test/test_basic_progress.1.json
Labels: feature, contract, chore

#533 feat[mobile]: LATAM + Blockchain Impact section
  apps/mobile/mobile-app/app/home-screen.tsx
  apps/mobile/mobile-app/app/project/[id].tsx
  apps/mobile/mobile-app/components/hero/hero-section.tsx
  apps/mobile/mobile-app/components/hero/tags.tsx
  apps/mobile/mobile-app/components/impact/impact-card.tsx
  apps/mobile/mobile-app/components/impact/impact-feature-card.tsx
  apps/mobile/mobile-app/components/impact/impact-stat.tsx
  apps/mobile/mobile-app/components/impact/latam-impact-section.tsx
  apps/mobile/mobile-app/components/project-details/gallery.tsx
  apps/mobile/mobile-app/constants/theme-colors.ts
  apps/mobile/mobile-app/metro.config.js
Labels: feature, frontend, mobile-app

#547 Feat(notifications) implement robust notifications table schema
  apps/contract/contracts/academy-progress-tracker/test_snapshots/test/test_basic_progress.1.json
  apps/mobile/mobile-app/components/impact/impact-feature-card.tsx
  apps/mobile/mobile-app/components/impact/latam-impact-section.tsx
  apps/web/.env.sample
  apps/web/app/api/notifications/push/route.ts
  apps/web/app/api/notifications/sync/route.ts
  apps/web/components/sections/achievements/achievement-card.tsx
  apps/web/components/sections/achievements/achievement-grid.tsx
  apps/web/components/shared/layout/providers.tsx
  apps/web/components/shared/notification-bell.tsx
  apps/web/hooks/use-notifications.ts
  apps/web/lib/config/env.ts
  apps/web/lib/services/notification-logger.ts
  apps/web/lib/services/notification-service.ts
  apps/web/lib/types/notification.ts
  apps/web/package.json
  apps/web/public/notification-worker.js
  bun.lock
  package.json
  services/supabase/docs/notification-security.md
  services/supabase/migrations/20250515000000_create_notifications_table.sql
  services/supabase/src/database.schemas.ts
  services/supabase/src/database.types.ts
Labels: feature, webapp, supabase, devops, backend

#548 Apply consistent code formatting and conditional enum creation in scripts
  apps/web/components/shared/layout/providers.tsx
  apps/web/hooks/use-notifications.ts
  apps/web/lib/services/notification-logger.ts
  apps/web/lib/services/notification-service.ts
  apps/web/public/notification-worker.js
  services/supabase/migrations/20250515000000_create_notifications_table.sql
Labels: bug, supabase, backend

#554 Refactor Home component with improved filtering, UI, and type safety
  apps/kyc-server/src/hooks/use-kyc-ws.ts
  apps/kyc-server/src/lib/websocket.ts
  apps/mobile/mobile-app/app/+html.tsx
  apps/mobile/mobile-app/app/index.tsx
  apps/mobile/mobile-app/app/screens/Home.tsx
  apps/mobile/mobile-app/app/screens/ItemsDetail.tsx
  apps/mobile/mobile-app/assets/Icons/kindfi.tsx
  apps/mobile/mobile-app/bun.lock
  apps/mobile/mobile-app/components/Header.tsx
  apps/mobile/mobile-app/components/StellarBenefitCard.tsx
  apps/mobile/mobile-app/components/StyledText.tsx
  apps/mobile/mobile-app/components/hero/animated-text.tsx
  apps/mobile/mobile-app/components/hero/hero-section.tsx
  apps/mobile/mobile-app/components/impact/impact-section.tsx
  apps/mobile/mobile-app/components/impact/impact-stat.tsx
  apps/mobile/mobile-app/components/impact/latam-impact-section.tsx
  apps/mobile/mobile-app/components/navbar/navbar-placeholder.tsx
  apps/mobile/mobile-app/components/project-details/tab-content/details.tsx
  apps/mobile/mobile-app/components/project-details/tab-content/overview.tsx
  apps/mobile/mobile-app/components/project-details/tab-content/team.tsx
  apps/mobile/mobile-app/components/ui/gradientText.tsx
  apps/mobile/mobile-app/types/index.ts
  apps/web/components/shared/qa-client.tsx
  apps/web/components/shared/qa-server.tsx
  apps/web/lib/types/qa/types.ts
Labels: bug, webapp, supabase, chore, frontend, mobile-app

#553 Feat: Add threshold ordering validation to set_tier_threshold function
  apps/contract/contracts/reputation/src/lib.rs
  apps/contract/contracts/reputation/src/test.rs
Labels: feature, contract

#539 feat(mobile): “How It Works” Onboarding Section
  apps/mobile/mobile-app/app/onboarding-screen.tsx
  apps/mobile/mobile-app/components/onboarding/index.tsx
  apps/mobile/mobile-app/components/onboarding/onboarding-section.tsx
  apps/mobile/mobile-app/components/onboarding/onboarding-toggle.tsx
  apps/mobile/mobile-app/components/onboarding/step-card.tsx
Labels: feature, frontend, mobile-app

#572 [supabase] feat: add new roles to project member role enum
  .husky/commit-msg
  apps/mobile/mobile-app/app/onboarding-screen.tsx
  apps/mobile/mobile-app/components/onboarding/index.tsx
  apps/mobile/mobile-app/components/onboarding/onboarding-section.tsx
  apps/mobile/mobile-app/components/onboarding/onboarding-toggle.tsx
  apps/mobile/mobile-app/components/onboarding/step-card.tsx
  apps/web/components/sections/projects/detail/tabs/team-tab.tsx
  apps/web/lib/utils/member-role.ts
  services/supabase/migrations/20250627231553_add-new-project-member-roles-to-enum.sql
  services/supabase/seed.sql
  services/supabase/src/database.schemas.ts
  services/supabase/src/database.types.ts
Labels: enhancement, webapp, supabase, frontend, backend
