Repository kindfi-org/kindfi, pull requests merged in 2025-08, with the labels that each got.

#597 feat(kyc): implement complete KYC modal flow with API integration and state management
  apps/web/components/sections/project/highlights/example-highlight-card.tsx
  apps/web/components/shared/index.ts
  apps/web/components/shared/kyc/kyc-2/kyc-2-upload.tsx
  apps/web/components/shared/kyc/kyc-2/types.ts
  apps/web/components/shared/kyc/kyc-4/kyc-4-upload.tsx
  apps/web/components/shared/kyc/kyc-modal.tsx
  apps/web/hooks/use-kyc.ts
  apps/web/lib/services/kyc.ts
  apps/web/lib/types/final-review-kyc5.types.ts
Labels: enhancement, webapp, frontend, TL, backend

#618 Feat: landing activation
  apps/web/app/api/waitlist/route.ts
  apps/web/components/sections/home/category-pills.tsx
  apps/web/components/sections/home/final-cta.tsx
  apps/web/components/sections/home/hero.tsx
  apps/web/components/sections/home/highlighted-projects.tsx
  apps/web/components/sections/home/join-us.tsx
  apps/web/components/sections/home/mision.tsx
  apps/web/components/sections/home/user-journey.tsx
  apps/web/components/sections/waitlist/waitlist-modal.tsx
  apps/web/components/shared/cta-form.tsx
  apps/web/components/shared/layout/providers.tsx
  apps/web/components/shared/qa-client.tsx
  apps/web/components/shared/qa/ask-question-form.tsx
  apps/web/components/shared/qa/question-card.tsx
  apps/web/components/shared/qa/user-info.tsx
  apps/web/components/shared/testimonial-card-impact.tsx
  apps/web/hooks/contexts/use-waitlist.context.tsx
  apps/web/hooks/use-typewriter.ts
  apps/web/lib/schemas/waitlist.schemas.ts
  apps/web/lib/services/comments.ts
  apps/web/lib/services/kyc.ts
  apps/web/lib/types/qa/types.ts
  apps/web/lib/types/waitlist.types.ts
  apps/web/lib/utils.ts
  apps/web/lib/utils/qa.ts
  apps/web/lib/validators/dispute.ts
  apps/web/public/images/SDF.webp
  services/supabase/migrations/20250212_create_waitlist_interests.sql
  services/supabase/migrations/20250731130000_add_waitlist_category_fk.sql
  services/supabase/src/database.schemas.ts
  services/supabase/src/database.types.ts
Labels: feature, webapp, supabase, backend

#719 Feat: blog news
  apps/academy-wep/lib/constants/sidebar.ts
  apps/web/app/layout.tsx
  apps/web/app/news/[slug]/page.tsx
  apps/web/app/news/category/[category]/page.tsx
  apps/web/app/news/opengraph-image/route.tsx
  apps/web/app/news/page.tsx
  apps/web/app/news/rss/route.ts
  apps/web/app/news/sitemap.ts
  apps/web/app/news/tag/[tag]/page.tsx
  apps/web/app/sitemap.ts
  apps/web/components/cards/news-card.tsx
  apps/web/components/mdx-components.tsx
  apps/web/components/shared/layout/footer/footer.tsx
  apps/web/components/shared/layout/header/navigation.tsx
  apps/web/components/shared/share-buttons.tsx
  apps/web/content/news/crowdfunding-social-impact-latam.mdx
  apps/web/content/news/kindfi-at-meridian-2025-rio.mdx
  apps/web/content/news/kindfi-news-launch.mdx
  apps/web/lib/mdx.ts
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/public/images/news/kindfi-meridian.webp
  apps/web/public/images/news/kindfi-news.webp
  apps/web/public/images/news/latam-crowdfunding.webp
  apps/web/tsconfig.json
  apps/web/types/ambient.d.ts
  bun.lock
Labels: enhancement, feature, webapp, frontend

#702 feat: move comment mutations to dedicated api routes
  apps/web/app/api/comments/[id]/route.ts
  apps/web/app/api/comments/route.ts
  apps/web/components/shared/qa-client.tsx
  apps/web/components/shared/qa/question-card.tsx
  apps/web/lib/services/comments.ts
Labels: feature, webapp, supabase, frontend, refactor, backend

#715 FIX: Avatar fallback in FeatureCreatorCard to show initials when no image provided
  apps/web/components/base/user-avatar.tsx
  apps/web/components/shared/feature-creator-card.tsx
  apps/web/lib/utils.ts
Labels: webapp, frontend, refactor

#717 FIX: Standardize placeholder image paths across codebase
  apps/academy-wep/components/knowledge-resources/resource-card.tsx
  apps/academy-wep/components/learn/learning-materials.tsx
  apps/academy-wep/components/learn/learning-module-card.tsx
  apps/academy-wep/components/learn/resource-card.tsx
  apps/academy-wep/lib/constants/paths.ts
  apps/academy-wep/lib/knowledge-resources.ts
  apps/academy-wep/public/images/placeholder.png
  apps/web/components/cards/news-card.tsx
  apps/web/components/featured/creator-card.tsx
  apps/web/components/pages/team-members/components/image-uploader.tsx
  apps/web/components/sections/achievements/achievement-grid.tsx
  apps/web/components/sections/community/hero.tsx
  apps/web/components/sections/community/investor-card.tsx
  apps/web/components/sections/project/update/update-card.tsx
  apps/web/components/sections/projects/detail/tabs/updates-tab.tsx
  apps/web/components/shared/kyc/kyc-5/final-review.tsx
  apps/web/components/shared/story-card.tsx
  apps/web/lib/constants/impact-data/makers.ts
  apps/web/lib/constants/impact-data/succes-data.ts
  apps/web/lib/constants/impact-data/testimonials-data.ts
  apps/web/lib/constants/paths.ts
Labels: webapp, chore, frontend, refactor, academy

#720 fix(wip): kyc dashboard deployment | Update Vercel configs, auth flows, KYC DB import, auth env secret
  apps/kyc-server/.gitignore
  apps/kyc-server/package.json
  apps/kyc-server/public/manifest.json
  apps/kyc-server/scripts/init-server-config.sh
  apps/kyc-server/scripts/start-server.sh
  apps/kyc-server/src/index.tsx
  apps/kyc-server/src/lib/passkey/database.ts
  apps/kyc-server/src/middleware/cors.ts
  apps/kyc-server/vercel.json
  apps/web/app/actions/auth.ts
  apps/web/auth/kindfi-supabase-adapter.ts
  packages/lib/src/config/app-env.config.ts
Labels: difficulty: hard, webapp, supabase, devops, kyc server, chore, refactor, backend

#628 Feat: update kyc reviews table
  services/supabase/migrations/20250509000000_create_kyc_reviews_table.sql
  services/supabase/src/database.schemas.ts
  services/supabase/src/database.types.ts
Labels: difficulty: hard, feature, supabase, backend
