Repository kindfi-org/kindfi, pull requests merged in 2025-04, with the labels that each got.

#394 fix: updated the filter components as requested
  apps/academy-wep/components/ui/category-filter.tsx
  apps/academy-wep/components/ui/filter-button.tsx
  apps/academy-wep/components/ui/filters-section.tsx
  apps/academy-wep/components/ui/filters/category-filter.tsx
  apps/academy-wep/components/ui/filters/filter-button.tsx
  apps/academy-wep/components/ui/filters/filters-section.tsx
  apps/academy-wep/components/ui/filters/level-filter.tsx
  apps/academy-wep/components/ui/filters/popular-topics.tsx
  apps/academy-wep/components/ui/filters/reset-button.tsx
  apps/academy-wep/components/ui/level-filter.tsx
  apps/academy-wep/components/ui/popular-topics.tsx
  apps/academy-wep/components/ui/reset-button.tsx
  apps/academy-wep/lib/types/filters.types.ts
Labels: feature, frontend

#378 Feat/Create-the-KindFi-Academy-NFT-Achievement-Badges-Section
  apps/academy-wep/app/learn/page.tsx
  apps/academy-wep/app/page.tsx
  apps/academy-wep/components/learn/nft-achievement-progress.tsx
  apps/academy-wep/components/learn/nft-achievement-stats.tsx
  apps/academy-wep/components/page/learn/nft-achievement.tsx
  apps/academy-wep/lib/mock-data/learn/mock-nft-achievement.ts
  apps/academy-wep/lib/types/learn/nft-achievement.types.ts
  apps/academy-wep/lib/utils/nft-achievement-utils.ts
  bun.lock
Labels: enhancement, feature, webapp, frontend, academy

#396 [web] refactor: move project data to constants directory
  apps/web/components/pages/home.tsx
  apps/web/components/sections/home/community.tsx
  apps/web/components/sections/home/final-cta.tsx
  apps/web/components/sections/home/hero.tsx
  apps/web/components/sections/home/highlighted-projects.tsx
  apps/web/components/sections/home/how-it-works.tsx
  apps/web/components/sections/home/join-us.tsx
  apps/web/components/sections/home/new-user-guide.tsx
  apps/web/components/sections/home/platform-overview.tsx
  apps/web/components/sections/home/user-journey.tsx
  apps/web/constants/community-data.tsx
  apps/web/constants/final-cta-data.tsx
  apps/web/constants/hero-data.tsx
  apps/web/constants/hightlighted-projects.tsx
  apps/web/constants/home-page-data.tsx
  apps/web/constants/how-it-works-data.tsx
  apps/web/constants/join-us-data.tsx
  apps/web/constants/new-user-guide-data.tsx
  apps/web/constants/platform-overview-data.tsx
  apps/web/constants/user-journey-data.tsx
  apps/web/lib/types/home.types.ts
Labels: enhancement, webapp, chore

#270 Feature/create community and comments tables
  services/supabase/migrations/20250220114241_project_updates_table.sql
  services/supabase/migrations/20250308002807_project_comments_table.sql
  services/supabase/migrations/20250308002808_create_community_table.sql
Labels: bug, enhancement, webapp, supabase, chore

#401 Remove project_updates table and indexes; update creation script with IF NOT EXISTS
  .husky/commit-msg
  services/supabase/migrations/20250220114056_create_user_relationships.sql
  services/supabase/migrations/20250220114241_project_updates_table.sql
  services/supabase/src/database.schemas.ts
  services/supabase/src/database.types.ts
Labels: bug, supabase, chore

#404 chore: fixed build errors and made kyc to use modularized library
  apps/web/components/shared/kyc/kyc-2/document-upload-zone.tsx
  apps/web/components/shared/kyc/kyc-2/kyc-2-upload.tsx
  apps/web/hooks/kyc/use-document-processor.ts
  biome.json
  bun.lock
  package.json
  packages/lib/src/doc-utils/file-processing.ts
  packages/lib/src/doc-utils/index.ts
Labels: enhancement, webapp, chore, frontend, backend

#393 Feat project right panel
  apps/web/components/base/badge.tsx
  apps/web/components/base/button.tsx
  apps/web/components/cards/primary-card.tsx
  apps/web/components/sections/project-details/project-right-panel/button-icon-detail.tsx
  apps/web/components/sections/project-details/project-right-panel/goal-progress.tsx
  apps/web/components/sections/project-details/project-right-panel/index.ts
  apps/web/components/sections/project-details/project-right-panel/nft-item.tsx
  apps/web/components/sections/project-details/project-right-panel/project-right-panel.tsx
  apps/web/components/sections/project-details/project-right-panel/supporter.tsx
  apps/web/components/sections/project-details/project-right-panel/title-card-detail.tsx
  apps/web/components/sections/project-details/project-right-panel/type.ts
  apps/web/components/sections/project-details/project-right-panel/view-closed/community-impact.tsx
  apps/web/components/sections/project-details/project-right-panel/view-closed/index.tsx
  apps/web/components/sections/project-details/project-right-panel/view-closed/nft-collection.tsx
  apps/web/components/sections/project-details/project-right-panel/view-closed/summary.tsx
  apps/web/components/sections/project-details/project-right-panel/view-donated/fellow-supporters.tsx
  apps/web/components/sections/project-details/project-right-panel/view-donated/impact-journey.tsx
  apps/web/components/sections/project-details/project-right-panel/view-donated/index.tsx
  apps/web/components/sections/project-details/project-right-panel/view-initial/future-equity.tsx
  apps/web/components/sections/project-details/project-right-panel/view-initial/index.tsx
  apps/web/components/sections/project-details/project-right-panel/view-initial/nft-reward.tsx
  apps/web/components/sections/project-details/project-right-panel/view-initial/project-creator.tsx
  apps/web/components/sections/project-details/project-right-panel/view-initial/similar-project.tsx
  apps/web/lib/mock-data/project/mock-project-side-panel.ts
  apps/web/package.json
Labels: enhancement, feature, webapp, frontend, TL

#406 Feat 389 supabase categories table
  services/supabase/migrations/20250417153544_create_categories_table.sql
  services/supabase/seed.sql
  services/supabase/src/database.schemas.ts
  services/supabase/src/database.types.ts
Labels: feature, supabase, backend

#457 feat(storage): Add 'project_pitch_decks' bucket with RLS policies
  services/supabase/migrations/20250426125132_create_pitch_deck_bucket.sql
Labels: enhancement, supabase, chore, backend, May Be Rewarded, ODHack13

#465 feat(mobile): add auth benefits section and social signup components …
  apps/mobile/mobile-app/components/auth/benefits-section.tsx
  apps/mobile/mobile-app/components/auth/social-signup.tsx
  apps/mobile/mobile-app/hooks/use-mobile.tsx
Labels: feature, frontend

#458 Create Main Components - Learning Paths Section #305
  apps/academy-wep/app/learning-paths/page.tsx
  apps/academy-wep/components/learningpaths/LearningPathCard.tsx
  apps/academy-wep/components/learningpaths/LearningPaths.tsx
  apps/academy-wep/components/ui/icon.tsx
Labels: feature, webapp, frontend, academy

#467 [academy] feat: create lessons view
  apps/academy-wep/app/learn/[moduleId]/[lessonId]/page.tsx
  apps/academy-wep/components/base/breadcrumb.tsx
  apps/academy-wep/components/base/label.tsx
  apps/academy-wep/components/base/radio-group.tsx
  apps/academy-wep/components/page/resources.tsx
  apps/academy-wep/components/sections/learn/knowledge-check.tsx
  apps/academy-wep/components/sections/learn/lesson-content.tsx
  apps/academy-wep/components/sections/learn/lesson-header.tsx
  apps/academy-wep/components/sections/learn/lesson-navigation.tsx
  apps/academy-wep/components/sections/learn/lesson-view.tsx
  apps/academy-wep/lib/mock-data/learn/mock-lessons.ts
  apps/academy-wep/lib/mock-data/mock-resources.ts
  apps/academy-wep/lib/types/learn/lesson.types.ts
  apps/academy-wep/package.json
Labels: enhancement, webapp, frontend, academy, ODHack13

#459 Feat/academy/graduation nft
  apps/contract/Cargo.lock
  apps/contract/Cargo.toml
  apps/contract/contracts/academy-graduation-nft/Cargo.toml
  apps/contract/contracts/academy-graduation-nft/README.md
  apps/contract/contracts/academy-graduation-nft/src/datatype.rs
  apps/contract/contracts/academy-graduation-nft/src/distribution.rs
  apps/contract/contracts/academy-graduation-nft/src/interface.rs
  apps/contract/contracts/academy-graduation-nft/src/lib.rs
  apps/contract/contracts/academy-graduation-nft/src/metadata.rs
  apps/contract/contracts/academy-graduation-nft/src/mint.rs
  apps/contract/contracts/academy-graduation-nft/src/test.rs
  apps/contract/contracts/academy-graduation-nft/test_snapshots/test/test_attempt_transfer_fails.1.json
  apps/contract/contracts/academy-graduation-nft/test_snapshots/test/test_get_graduation_nft.1.json
  apps/contract/contracts/academy-graduation-nft/test_snapshots/test/test_get_graduation_nft_none.1.json
  apps/contract/contracts/academy-graduation-nft/test_snapshots/test/test_has_graduation_nft.1.json
  apps/contract/contracts/academy-graduation-nft/test_snapshots/test/test_initialize_already_initialized.1.json
  apps/contract/contracts/academy-graduation-nft/test_snapshots/test/test_initialize_success.1.json
  apps/contract/contracts/academy-graduation-nft/test_snapshots/test/test_mint_already_minted.1.json
  apps/contract/contracts/academy-graduation-nft/test_snapshots/test/test_mint_empty_badges.1.json
  apps/contract/contracts/academy-graduation-nft/test_snapshots/test/test_mint_multiple_users.1.json
  apps/contract/contracts/academy-graduation-nft/test_snapshots/test/test_mint_not_completed.1.json
  apps/contract/contracts/academy-graduation-nft/test_snapshots/test/test_mint_not_initialized.1.json
  apps/contract/contracts/academy-graduation-nft/test_snapshots/test/test_mint_success_full_badges.1.json
  apps/contract/contracts/academy-graduation-nft/test_snapshots/test/test_mint_unauthenticated.1.json
  apps/contract/contracts/mock_badge_tracker/Cargo.toml
  apps/contract/contracts/mock_badge_tracker/src/lib.rs
  apps/contract/contracts/mock_progress_tracker/Cargo.toml
  apps/contract/contracts/mock_progress_tracker/src/lib.rs
Labels: enhancement, chore

#475 feat/ create impact section
  apps/mobile/mobile-app/app/+html.tsx
  apps/mobile/mobile-app/app/index.tsx
  apps/mobile/mobile-app/bun.lock
  apps/mobile/mobile-app/components/impact/impact-card.tsx
  apps/mobile/mobile-app/components/impact/impact-section.tsx
  apps/mobile/mobile-app/components/ui/gradientText.tsx
  apps/mobile/mobile-app/package.json
Labels: feature, frontend, ODHack13, mobile-app

#474 Build Hero Section Home Screen #428
  apps/mobile/mobile-app/app/home-screen.tsx
  apps/mobile/mobile-app/assets/images/kindfi-logo.svg
  apps/mobile/mobile-app/components/hero/animated-text.tsx
  apps/mobile/mobile-app/components/hero/hero-section.tsx
  apps/mobile/mobile-app/components/hero/tags.tsx
  apps/mobile/mobile-app/components/navbar/navbar-placeholder.tsx
  apps/mobile/mobile-app/package-lock.json
  apps/mobile/mobile-app/types/svg.d.ts
  package.json
Labels: feature, frontend, ODHack13, mobile-app

#480 Feat 434 mobile onboarding modal
  apps/mobile/mobile-app/app/index.tsx
  apps/mobile/mobile-app/bun.lock
  apps/mobile/mobile-app/components/icons/illustrations.tsx
  apps/mobile/mobile-app/components/onboarding/Onboarding.tsx
  apps/mobile/mobile-app/components/onboarding/OnboardingSteps.tsx
  apps/mobile/mobile-app/global.css
  apps/mobile/mobile-app/package-lock.json
  apps/mobile/mobile-app/package.json
  apps/mobile/mobile-app/tsconfig.json
  bun.lock
Labels: feature, frontend, May Be Rewarded, ODHack13, mobile-app

#477 feat: update score recalculation
  apps/contract/Cargo.lock
  apps/contract/Cargo.toml
  apps/contract/contracts/reputation/src/lib.rs
  apps/contract/contracts/reputation/src/test.rs
Labels: contract

#484 fix: restore application
  apps/mobile/mobile-app/app/home-screen.tsx
  apps/mobile/mobile-app/app/index.tsx
  apps/mobile/mobile-app/components/icons/illustrations.tsx
  apps/mobile/mobile-app/components/onboarding/Onboarding.tsx
  apps/mobile/mobile-app/components/onboarding/OnboardingSteps.tsx
Labels: frontend, mobile-app

#476 Implement Project Updates Section with Supabase Integration
  apps/web/components/pages/project/project-information/project-details.tsx
  apps/web/components/sections/project/update/update-card.tsx
  apps/web/components/sections/project/update/update-form.tsx
  apps/web/components/sections/project/update/update-tab-section.tsx
  apps/web/lib/types/project/update-tab-section.types.ts
  services/supabase/src/index.ts
Labels: enhancement, feature, webapp, frontend, TL

#473 Feat 409 comments table for qa
  services/supabase/migrations/20250309000000_extend_comments_for_qa.sql
  services/supabase/types/database.types.ts
Labels: enhancement, supabase, chore

#487 [lib] feat: create reusable TanStack Query Hook and server-side query helpers
  apps/academy-wep/package.json
  apps/web/app/actions.ts
  apps/web/app/api/escrow/fund/[transactionHash]/route.ts
  apps/web/app/api/escrow/fund/route.ts
  apps/web/app/api/escrow/initialize/route.ts
  apps/web/app/api/escrow/review/route.ts
  apps/web/app/api/tag/[tagId]/route.ts
  apps/web/app/api/tag/route.ts
  apps/web/app/auth/callback/route.ts
  apps/web/app/auth/confirm/route.ts
  apps/web/components/header-auth.tsx
  apps/web/components/sections/monitor/status-table.tsx
  apps/web/components/sections/project/update/update-card.tsx
  apps/web/components/sections/project/update/update-form.tsx
  apps/web/components/sections/project/update/update-tab-section.tsx
  apps/web/components/shared/layout/providers.tsx
  apps/web/hooks/escrow/use-Escrow.ts
  apps/web/hooks/use-auth.tsx
  apps/web/hooks/use-escrow.ts
  apps/web/lib/supabase/client.ts
  apps/web/lib/supabase/server.ts
  apps/web/lib/utils/escrow.ts
  apps/web/lib/utils/upload-file-to-bucket.ts
  apps/web/middleware.ts
  apps/web/tsconfig.json
  packages/lib/package.json
  packages/lib/src/hooks/index.ts
  packages/lib/src/hooks/use-supabase-query.hook.ts
  packages/lib/src/providers/index.ts
  packages/lib/src/providers/react-query-client-provider.tsx
  packages/lib/src/supabase/client/browser-client.ts
  packages/lib/src/supabase/client/index.ts
  packages/lib/src/supabase/index.ts
  packages/lib/src/supabase/server/index.ts
  packages/lib/src/supabase/server/middleware.ts
  packages/lib/src/supabase/server/server-client.ts
  packages/lib/src/supabase/server/server-query.ts
  packages/lib/src/supabase/shared/check-env-vars.ts
  packages/lib/src/supabase/shared/index.ts
  packages/lib/src/supabase/shared/service-role-client.ts
  packages/lib/src/types/index.ts
  packages/lib/src/types/supabase-client.type.ts
  services/supabase/database.types.ts
Labels: enhancement, webapp, supabase, chore, frontend, backend, May Be Rewarded, dev op, ODHack13

#489 feat(mobile): build stellar benefits section
  apps/mobile/mobile-app/app/index.tsx
  apps/mobile/mobile-app/components/StellarBenefitCard.tsx
  apps/mobile/mobile-app/components/StellarBenefitSection.tsx
Labels: feature, mobile-app

#491 feat(nft): implement access control with OpenZeppelin integration
  apps/contract/Cargo.lock
  apps/contract/Cargo.toml
  apps/contract/contracts/nft/Cargo.toml
  apps/contract/contracts/nft/src/access.rs
  apps/contract/contracts/nft/src/distribution.rs
  apps/contract/contracts/nft/src/errors.rs
  apps/contract/contracts/nft/src/lib.rs
  apps/contract/contracts/nft/src/pausable.rs
  apps/contract/contracts/nft/src/rate_limiting.rs
  apps/contract/contracts/nft/src/test.rs
  apps/contract/contracts/reputation/Cargo.toml
Labels: enhancement, feature
